<div class="all" style="height: 100%;">
    <div class="border">
        <div>
            <div class= "flex color">
                <mat-icon> local_shipping</mat-icon>&nbsp;
                <mat-label>NHẬN SHIP BÁNH</mat-label>
            </div>
            <div class= "flex color">
                <mat-label>Thời gian ship từ 7h đến 22h hàng ngày</mat-label>
            </div>
        </div>
    </div>
    <div class="border">
        <div>
            <div class= "flex left color">
                <mat-icon>settings</mat-icon>&nbsp;
                <mat-label>100% KHÔNG CÓ CHẤT BẢO QUẢN</mat-label>
            </div>
            <div class= "flex left color">
                <mat-label>Đảm bảo luôn tươi mới hàng ngày</mat-label>
            </div>
        </div>
    </div>
    <div class="border">
        <div>
            <div class= "flex left color">
                <mat-icon>call</mat-icon>&nbsp;
                <mat-label>ĐẶT BÁNH ONLINE</mat-label>
            </div>
            <div class= "flex left color">
                <mat-label>Liên hệ : 0389843092</mat-label>
            </div>
        </div>
    </div>
    <div class="border1">
        <div>
            <div class= "flex left color">
                <mat-icon>contact_support</mat-icon>&nbsp;
                <mat-label>HỖ TRỢ 24/7</mat-label>
            </div>
            <div class= "flex left color">
                <mat-label>Gọi là nhấc máy</mat-label>
            </div>
        </div>
    </div>
</div>
<div class="loi-cam-on">
    <div class="content-lco border-lco">
        <mat-label>Chúng tôi thực sự biết ơn bạn vì đã chọn chúng tôi làm nhà cung cấp dịch vụ và cho chúng tôi cơ hội phát triển. Không có thành tựu nào của chúng tôi có thể đạt được nếu không có bạn và sự hỗ trợ vững chắc của bạn.</mat-label>
    </div>
    <div class="content-lco ">
        <div>
            <i class="fab fa-facebook-square"></i>
            <mat-label class="left" href="https://www.facebook.com/NguyenTienThanh0108/">Facebook : https://www.facebook.com/NguyenTienThanh0108/</mat-label>
        </div>
        <div>
            <i class="fab fa-instagram-square"></i>
            <mat-label class="left">Instagram : https://www.instagram.com/nguyentienthanh99/</mat-label>
        </div>
        <div>
            <i class="fab fa-tiktok"></i>
            <mat-label class="left">Tiktok : https://www.tiktok.com/@thanh010899?lang=vi-VN</mat-label>
        </div>
        <div>
            <i class="fab fa-twitter"></i>
            <mat-label class="left">Twitter : https://twitter.com/ThnhNgu66988384 </mat-label>
        </div>
        <div>
            <i class="fas fa-envelope"></i>
            <mat-label class="left">Email : nguyentienthanh@gmail.com</mat-label>
        </div>
    </div>
</div>
