.title-input{
    color: #ff0000;
    font-size: 16px;
}
.mat-form-field-infix{
    padding-top: 0px;
    margin-top: 0px;
}

.button-conf{
    margin-right: 20px;
}

.flex{
    display: flex;
    align-items: center;
}

.width400px{
    width: 400px;
}

.left20px{
    margin-left: 20px;
}

// .login-wrapper {
//     margin: 20rem auto;
//     width: 20rem;
// }

// input {
//     margin-bottom: 2rem;
// }

// button {
//     margin-bottom: 2rem;
// }