<mat-card style="background-color: #ffffff;padding-left: 20px;padding-right: 20px;height: 100%;">
    <div style="margin-left: 20px;margin-top: 50px;font-size: 20px;font-weight: bold;">
        <mat-label>Giỏ hàng của bạn</mat-label>
    </div>
    <div class="list-banh" *ngIf="!checkSL" >
        <div class="header header-list-banh">
            <div class="title-san-pham">
                <mat-label>Sản phẩm</mat-label>
            </div>
            <div class="title">
                <mat-label>Kích thước</mat-label>
            </div>
            <div class="title">
                <mat-label>Giá</mat-label>
            </div>
            <div class="title-nho">
                <mat-label>KM</mat-label>
            </div>
            <div class="title">
                <mat-label>Số lượng</mat-label>
            </div>
            <div class="title">
                <mat-label>Tổng</mat-label>
            </div>
            <div style="width: 30px;">

            </div>
        </div>
        <!-- <mat-divider class="thanh-ngang"></mat-divider> -->
        <div class="thanh-ngang">

        </div>
        <div class="san-pham" *ngFor="let item of banhGioHang">
            <div class="content-san-pham">
                <img [src]="item.AnhSP" alt="" style="width: 130px;">
                <mat-label style="margin-left: 20px;">{{item.TenBanh}}</mat-label>
            </div>
            <div class="content">
                <mat-label>{{item.TenKT}}</mat-label>
            </div>
            <div class="content">
                <mat-label>{{item.DonGiaBan | DonVi}}</mat-label>
            </div>
            <div class="content-nho">
                <mat-label>{{item.GiaTri}} {{item.LoaiKM}}</mat-label>
            </div>
            <div class="content">
                <div id="chon-so-luong">
                    <button class="sub-gia" (click)="minus(item.SL,item.SLMax,item.MaKH,item.MaKT_Banh,item.MaGH,item)"><mat-icon>remove</mat-icon></button>
                    <input type="number" matInput disabled class="gia" [(ngModel)]="item.SL">
                    <button class="sub-gia" (click)="sub(item.MaBanh,item.MaKT,item.SL,item.SLMax,item.MaKH,item.MaKT_Banh,item.MaGH,item)"><mat-icon>add</mat-icon></button>
                </div>
            </div>
            <div class="content">
                <mat-label>{{item.TongTien | DonVi}}</mat-label>
            </div>
            <div style="width: 30px;color: #ff1c1c;cursor: pointer;" class="xoa" (click)="xoaSP(item.MaKH,item.MaKT_Banh)">
                Xóa
            </div>
        </div>
    </div>
    <div class="list-khong-banh" *ngIf="checkSL">
        <span>Không có sản phẩm nào</span>
    </div>

    <div class="thanh-ngang" style="margin-top: 20px;">
        
    </div>
    <div class="thanh-tien">
        <div class="header header-thanh-tien">
            <div class="title">
                <mat-label >Thanh toán</mat-label>
            </div>
        </div>
        <div style="margin-top: 40px;">
            <div style="display: flex; align-items: center;">
                <mat-label>Tổng tiền</mat-label> 
                <mat-label style="margin-left: 30px;font-weight: bold;color: #ff0000;">{{thanhToan | DonVi}}</mat-label>
            </div>
            <div style="margin-top: 30px;">
                <button mat-raised-button color="primary" [disabled]="checkThanhToan" (click)="tienHanhThanhToan()">Tiến hành thanh toán</button>
            </div>
        </div>
    </div>
    
</mat-card>